.lab_header--main {
    background-image: linear-gradient(to right, #011627, #fdfffc);
    color: #fdfffc;
    text-transform: uppercase;
    font-family: monospace;
    text-shadow: 0 1.1px 0 rgba(0,0,0,0.6);
    padding: .5em 1em .5em .75em;
    margin-left: 1em;
    margin-block-end: 0;
    margin-block-start: 1em;
    width: 30%;
}

.main_container {
    display: flex;
}

.left_side {
    flex: auto;
    padding: 1.5em;
    min-width: 220px;
}

.right_side {
    flex: 0 0 55%;
    padding: 1.5em;
    max-width: 55%;
}

.lab_header {
    margin-block-start: .5em;
    margin-block-end: 0;
    padding: .5em;
    background-color: #011627;
    color: #fdfffc;
}

.main_container p {
    padding: .2em;
}

.problem_container {
    height: 240.5px;
}

.codejar-wrap {
    background-color: #1e1e3f;
    color: #a9b7c6;
    height: 170px;
    min-width: 400px;
}

.codejar-wrap > div:nth-child(2) {
    resize: unset !important;
    height: 170px;
}

.btn_container {
    min-width: 400px;
    padding-top: 3px;
    display: flex;
    justify-content: flex-end;
}

.skip_btn, .ship_btn {
    all: unset;
    text-transform: uppercase;
    background-color: #e71d36;
    font-family: monospace;
    font-size: 14px;
    color: #fdfffc;
    padding: 4px;
    border-radius: 4px;
    margin: 0 0 0 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 3px 3px -3px #be182c, inset 0 -3px 3px -3px #be182c;
}

.skip_btn:hover, .ship_btn:hover {
    cursor: pointer;
}

.lab_result {
    background-color: #fdfffc;
    transition: all 1000ms linear;
}

.lab_result_blink {
    background-color: #e71d36;
    color: #fdfffc;
}

.lab_problem_title {
    margin-block-start: .5em;
    margin-block-end: 0;
    padding: .4em;
    color: #011627;
    font-size: medium;
}