ul {
    margin: unset;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.2em;
    background-color: #011627;
}

.nav_container_intro {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    justify-content: space-between;
    list-style: none;
    padding: 1.2em;
    background-color: #011627;
}

.nav_link {
    color: #fdfffc;
    text-decoration: none;
    padding: 0 .5em 0 .5em;
}

.nav_current {
    color: #ff9f1c;
    text-decoration: none;
    padding: 0 .5em 0 .5em;
}

.nav_leftside {
    display: flex;
    justify-content: space-evenly;
    flex: 0 0 content;
}

.nav_rightside {
    display: flex;
    justify-content: space-evenly;
    flex: 0 0 content;
}